body {
    margin: 0;
    font-family: Arial, sans-serif
}

header {
    background-color: rgb(85, 96, 255);
    color: white;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


eq-label {
    font-weight: bold;
}