:root {
    --header-color: rgb(85, 96, 255);
}

body {
    margin: 0;
    font-family: Arial, sans-serif
}

header {
    background-color: var(--header-color);
    color: white;
}

footer {
    background-color: var(--header-color);
    color: white;
    height: 30px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-vertical-container {
    justify-content: center;
}

.left-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
}


.left-right-container div {
    border: 2px solid rgb(49, 53, 126);
    border-radius: 8px;
    overflow: hidden;
}

#left-side {
    padding: 1rem;
}

#equation-list {
    padding-left: 1rem;
    margin-bottom: 0;
}

#graph-data {
    flex-basis: 600px;
}

eq-label {
    font-weight: bold;
}