<!DOCTYPE html>

<html>
    <head>
        <title>Waveform website</title>
        <!-- HTMX script right here -->
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Waveform Simulation</h1>
        <img id="plot-image" />
        <form hx-post="/image" name="freq" hx-target="#plot-image" hx-swap="outerHTML">
            <input name="freq" type="text" autofocus="true" autocomplete="off"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>