<!DOCTYPE html>

<html>
    <head>
        <title>Waveform website</title>
        <!-- HTMX script right here -->
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.4" integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg" crossorigin="anonymous"></script>
        
        <link href="{{ url_for('static', path='style.css')}}" rel="stylesheet" />

        <script>
            // For rendering the final image from the buffer
            document.addEventListener("DOMContentLoaded", () => {
                const finalImageTag = document.getElementById("plot-image");
                const graphDataDiv = document.getElementById("graph-data");
                const form = document.querySelector("form");
                
                form.addEventListener("htmx:afterRequest", () => {
                    const loadImageTag = document.getElementById("plot-image-load");
                    if (loadImageTag) {
                        const imgData = loadImageTag.getAttribute("src");
                        finalImageTag.setAttribute("src", imgData);
                    }
                });

                const saveResultDiv = document.getElementById("save-result");
                const SAVE_DISPLAY_TIME_MS = 1500;
                saveResultDiv.addEventListener("htmx:afterSettle", () => {
                    setTimeout(() => {
                        saveResultDiv.textContent = "";
                    }, SAVE_DISPLAY_TIME_MS);
                })
            });


            const addWave = (form, frequency) => {
                const parser = new DOMParser();
                const newTextField = `<input 
                            class="freq-text-field"
                            name="freq_text" 
                            type="number" 
                            autofocus="true" 
                            autocomplete="off"  
                            placeholder="Frequency (Hz)"
                            required="true"
                            />`;

                const fieldElement = parser.parseFromString(newTextField, "text/html").body.firstElementChild;
                
                const newSliderField = `<input 
                            class="freq-slider"
                            name="freq_slider" 
                            type="range" 
                            min="0" 
                            max="1000" 
                            step="10"
                            oninput="event.target.parentElement.querySelector('.freq-text-field').value = this.value;"
                            />`;
                const sliderElement = parser.parseFromString(newSliderField, "text/html").body.firstElementChild;

                if (frequency) {
                    fieldElement.value = frequency;
                    sliderElement.value = frequency;
                }
              
                // create a delete button for the item
                const deleteButton = document.createElement("button");
                deleteButton.className = "waveform-item-delete";
                deleteButton.textContent = "Delete";
                deleteButton.type = "button";

                // when you click on the delete button, remove that specific button from the array
                deleteButton.addEventListener("click", (event) => {
                    const currentItem = event.target.parentElement;
                    currentItem.remove();
                });

                // Create the wave object
                const waveFormObj = document.createElement("div");
                waveFormObj.classList.add("wave-form-item");
                waveFormObj.appendChild(fieldElement);
                waveFormObj.appendChild(sliderElement);
                waveFormObj.appendChild(deleteButton);

                form.appendChild(waveFormObj);
            }


            const loadProject = (target) => {
                const freqList = JSON.parse(target.dataset.freqs);
                const titleStr = target.dataset.title;
                const waveformStr = target.dataset.waveform;

                const form = document.getElementById("signal-form");
                const waveformSelect = document.getElementById("sig-type-select");
                const listenButton = document.getElementById("listen-button");
                const titleInput = document.getElementById("project-name-input")
                
                // delete the old extra waveform items
                waveformItems = document.querySelectorAll(".wave-form-item");
                waveformItems.forEach((item) => {
                    if (item.id != "wave-form-item")
                        item.remove();
                })

                for (let i = 0; i < freqList.length; i++) {
                    const freq = freqList[i];
                    if (i == 0) {
                        const firstFreqText = document.getElementById("freq-text");
                        const firstFreqSlider = document.getElementById("freq-slider");

                        firstFreqText.value = freq;
                        firstFreqSlider.value = freq;
                    } else {
                        addWave(form, freq);
                    }
                }

                waveformSelect.value = waveformStr;
                titleInput.value = titleStr;
                form.dispatchEvent(new Event('projectLoad'));
                listenButton.dispatchEvent(new Event('projectLoad'));
            }
        </script>
    </head>
    <body hx-ext="response-targets">
        <main>
            <header class="centered-container">
                <h1>Waveform Simulation</h1>
            </header>
            <div class="left-right-container">
                <div id="left-side">
                    <div id="form-dashboard">
                        <button 
                            id="open-projects-dialog-button"
                              hx-get="/projects"
                              hx-target="#project-list-container"
                              hx-swap="afterBegin"
                              command="show-modal" 
                              commandfor="load-projects-dialog"
                              >Load projects</button>

                        <button
                            id="save-project-button"
                            form="signal-form"
                            hx-post="/save"
                            hx-target="#save-result"
                            hx-swap="afterbegin"
                            >Save</button>

                        <div id="save-result"></div>
                    </div>

                    <form   id="signal-form"
                            hx-post="/image" 
                            hx-target="#plot-image-load" 
                            hx-swap="outerHTML"
                            hx-trigger="
                                input[event.target.matches('.freq-slider')] from:body,
                                input from:#sig-type-select,
                                submit throttle:100ms,
                                projectLoad",
                            >

                        <input id="project-name-input"
                            type="text"
                            name="title"
                            placeholder="Project Title..."
                            autocomplete="off"
                            required="true"
                            value="Untitled Project"
                            ></input>

                        <select id="sig-type-select" name="sig_type">
                            <option>Sine Wave</option>
                            <option>Sawtooth Wave</option>
                            <option>Triangle Wave</option>
                            <option>Square Wave</option>
                        </select>

                        <div id="wave-form-item" class="wave-form-item">
                            <input 
                                id="freq-text"
                                class="freq-text-field"
                                name="freq_text" 
                                type="number" 
                                autofocus="true" 
                                autocomplete="off"  
                                placeholder="Frequency (Hz)"
                                required="true"
                                value="440"
                                oninput="document.getElementById('freq-slider').value = this.value;"
                                />
                            <input 
                                id="freq-slider"
                                class="freq-slider"
                                name="freq_slider" 
                                type="range" 
                                min="0" 
                                max="1000" 
                                step="10"
                                value="440"
                                oninput="document.getElementById('freq-text').value = this.value;"
                                />
                        </div>
                    </form>

                    <button type="submit" form="signal-form">Submit</button>
                    <button id='add-wave-button' onclick='addWave(document.querySelector("form"), 440)'>Add wave</button>
                    
                    <div id="error-message"></div>
                    <ul id="equation-list">
                    </ul>
                    <div id="listen-container">
                        <button id="listen-button" 
                            form="signal-form"
                            hx-post="/audio"
                            hx-target="#audio-output"
                            hx-target-400="#audio-output"
                            hx-swap="outerHTML"
                            hx-trigger="click, projectLoad">
                            Listen</button>
                        <audio id="audio-output"></audio>
                        <div id="audio-output-error"></div>
                    </div>
                </div>
                <div class="centered-container" id="graph-data">
                    <img id="plot-image" style="padding: 1rem" />
                    <img id="plot-image-load" style="display:none" />
                </div>
            </div>

            <dialog id="load-projects-dialog">
                <button commandfor="load-projects-dialog" command="close">Close</button>
                <h1>Load projects here...</h1>

                <div id="project-list-container">
                    <!-- show name, freq list, waveform string, load button -->
                </div>
            </dialog>
        </main>
        <footer class="centered-container centered-vertical-container">
            Copyright (c) 2026 by Daniel Chu. All rights reserved.
        </footer>
    </body>
</html>
